// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$title-color:       white;
$moreinfo-color:    rgba(255, 255, 255, 0.7);
$value-color:       white;

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {
  
  background-color: cadetblue;
  font-size: 60px;
  font-weight: bold;

  .title {
    color: $title-color;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 2px 2px #707070;
  }

  .value {
    color: $value-color;
     text-shadow: 2px 2px #707070;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
     text-shadow: 2px 2px #707070;
    color: $value-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: $moreinfo-color;
    font-weight: lighter;
  }

}

.nochange {
  background: #FF9900;
}

.success {
  background: green;

}

.danger {
  background: #FF0000;
}