<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<style type='text/css'>
 h3 {
    font-size: 51px;
    font-weight: 900;
    color: white;
  }
</style>

<% content_for :title do %>Errors Dashboard<% end %>

<div class="gridster">
  <ul>
  	 <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_400" data-view="Number" data-title="400 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_401" data-view="Number" data-title="401 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_403" data-view="Number" data-title="403 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_404" data-view="Number" data-title="404 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_500" data-view="Number" data-title="500 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text="Error Status Codes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_501" data-view="Number" data-title="501 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_502" data-view="Number" data-title="502 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_503" data-view="Number" data-title="503 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="error_504" data-view="Number" data-title="504 Errors" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now:1h(rolling hour)" ></div>
    </li>
  </ul>
</div>  	
