<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script>

<style type='text/css'>
 h3 {
    font-size: 51px;
    font-weight: 900;
    color: white;
  }
</style>

<% content_for :title do %>Unsuccessful Donations Dashboard<% end %>

<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/JustGiving-G-280.png"></div>
    </li>
    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="active_no_of_users" data-view="Numbersuccess" data-title="Active Users" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-moreinfo="now-1min" ></div>
    </li> -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="failed_1h" data-view="Alertunsuccess" data-title="Failed (1h)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-1h(rolling hour)" ></div>
   </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="invalid_3d_1h" data-view="Alertunsuccess" data-title="Invalid 3D (1h)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="nprt_30mins" data-view="Alertunsuccess" data-title="NPRT 30mins" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-30m(rolling 0.5hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unauthorized_1h" data-view="Alertunsuccess" data-title="Unauthorized (1h)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unsuccessful_1h" data-view="Alertunsuccess" data-title="Unsuccessful (1h)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-1h(rolling hour)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="worldpay_1h" data-view="Alertunsuccess" data-title="WorldPay (1h)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="now-1h(rolling hour)" ></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="failed_day" data-view="Alertunsuccess" data-title="Failed (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
   </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="invalid_3d_day" data-view="Alertunsuccess" data-title="Invalid 3D (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
    </li>
     <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text="Error Donations"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="invalid_cc_day" data-view="Alertunsuccess" data-title="Invalid CC (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unauthorized_day" data-view="Alertunsuccess" data-title="Unauthorized (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="unsuccessful_day" data-view="Alertunsuccess" data-title="Unsuccessful (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
   </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="worldpay_day" data-view="Alertunsuccess" data-title="Worldpay (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
   </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-id="paypal_failed_day" data-view="Alertunsuccess" data-title="Paypal Failed (day)" data-addclass-success="isTooGood" data-addclass-danger="isTooLow" data-addclass-nochange="isTheSame" data-moreinfo="midnight-now(rolling day)" ></div>
   </li>
  </ul>
 </div>
