// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  green;
$value-color:       yellow;

$title-color:       yellow;
$label-color:       yellow;
$moreinfo-color:    yellow;

// ----------------------------------------------------------------------------
// Widget-list styles
// ----------------------------------------------------------------------------
.widget-list {

  background-color: $background-color;
  vertical-align: top;

  .title {
    color: $title-color;
    font-weight: bold;
  }

  ol, ul {
    margin: 0 15px;
    text-align: left;
    color: $label-color;
  }

  ol {
    list-style-position: inside;
  }

  li {
    margin-bottom: 5px;
  }

  .list-nostyle {
    list-style: none;
  }

  .label {
    color: $label-color;
  }

  .value {
    float: right;
    margin-left: 12px;
    font-weight: 800;
    color: $value-color;
  }

  .updated-at {
    color: yellow;
  }

  .more-info {
    color: $moreinfo-color;
  }

}
